body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:#333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  max-width: 1000px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 16px;
  line-height: 0.5;
  margin-bottom: 20px;

}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about h2,
.accomplishments h2,
.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
}

.about p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.accomplishments ul,
.about ul,
.contact ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.contact p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  list-style: disc;
  
}
.contact1{
  background-color: #333;
  COLOR:#FFF
}
